# Upload Image
s3BucketName = 2314823894myawsbucket
s3Region = us-east-1
s3ImagesPath = images/
s3BaseURL = https://2314823894myawsbucket.s3.us-east-1.amazonaws.com/images/
API_URL = https://np39lyhj20.execute-api.us-east-1.amazonaws.com/Deployment/upload-image
API_KEY = iNrOCa2tbD8n5KfbAZ2Ct7ABHEKrBDVQ67XDlDIR

# Get Image Tag
api_url = https://zudiexk4c3.execute-api.us-east-1.amazonaws.com/Stage1/get-tag
api_key = 5Zkh0awDm033cqrQM0iCQ9hclI5eUGH679MYJetu

# Block Image
block_api_url = https://ecf3rgso5g.execute-api.us-east-1.amazonaws.com/Stage1/block-image
block_api_key = iNrOCa2tbD8n5KfbAZ2Ct7ABHEKrBDVQ67XDlDIR

dynamoDbTableName = ImageSignatures
dynamoDbRegion = us-east-1
dynamoDbEndpoint = https://zudiexk4c3.execute-api.us-east-1.amazonaws.com/Stage1
apiGatewayEndpoint = https://zudiexk4c3.execute-api.us-east-1.amazonaws.com/Stage1
getTagApiGatewayEndpoint = https://epzoie02m0.execute-api.us-east-1.amazonaws.com/GetTag1

identityPoolId = us-east-1:ee264a1b-9b89-4e4a-a346-9128da47af97
cognitoRegion = us-east-1

defaultTTLInDays = 30

hashFieldName = ContentHash
timestampFieldName = Timestamp
ttlFieldName = TTL

requestTimeoutInterval = 30.0
resourceTimeoutInterval = 300.0
maxRetryCount = 3
initialRetryDelay = 1.0
maxRetryDelay = 30.0 